@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
*{
    margin:0%;


}
.firstblock{
    padding-top:100px;
    background-image:linear-gradient(rgb(162, 96, 121), pink);
    font-family: 'League Gothic', sans-serif;
    
}

.firstblock p{
    padding:20px 40px;
    font-size:27px;
}

.firstblock h1 {
    text-align: center;
    font-size: 40px;
}
.list {
    font-size:27px;
}
.firstblock h2{
    font-size:30px;
    padding-top:40px;
    padding-left:40px;

}