@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
.bg{
    margin:0%;
    background-image:linear-gradient(rgb(162, 96, 121), pink);

}
.firstblock{
    padding-top:100px;
   
    font-family: 'League Gothic', sans-serif;
    
}

.firstblock p{
    padding:20px 40px;
    font-size:27px;
}

.firstblock h1 {
    text-align: center;
    font-size: 40px;
}
.list {
    font-size:27px;
}
.firstblock h2{
    font-size:30px;
    padding-top:40px;
    padding-left:40px;

}
.faq{

    padding:20px 40px;
}
.faq h1{
    font-size: 30px;
    padding: 10px 10px;
}
.faq h2{
    font-size:17px;
    padding:10px 10px;
}
.faq p{
    font-size:17px;
    padding:10px 10px;
}
p.paragraph {
    font-size: 20px;
    padding:20px 30px;
}
.L1 h1{
    padding-top: 100px;
    padding-left:40px;

}
.L1 h2{
    padding-left:40px;
}
.L1 p{
    padding-left:40px;
    
}
.L2 h1{
    padding-top: 100px;
    padding-left: 40px;
}
.L3 h1{
    padding-top:100px;
    padding-left:40px;
}
.L4 h1{
    padding-top:100px;
    padding-left:40px;
}
.L5 h1{
    padding-top:100px;
    padding-left:40px;
}
.L1 p{
    padding-left:40px;
    
}
.L2 p{
    padding-left:40px;
    font-size:20px;
    
}
.L3 p{
    padding-left:40px;
    font-size:20px;
    
}
.L4 p{
    padding-left:40px;
    font-size:20px;
    
}
.L5 p{
    padding-left:40px;
    font-size:20px;
    
}
.L2 h2{

    padding: 20px 40px;
}
.L3 h2{
    padding:20px 40px;
}
.L4 h2{
    padding:20px 40px;
}
.L5 h2{
    padding: 20px 40px;
}
